name: Deploy Lambda_greeting Function
on:
  push:
    branches: [ master]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  release:
    name: Deploy lambda_greeting
    runs-on: [ ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
        role-duration-seconds: 1200
        role-session-name: MySessionName
      - name: zip lambda_greeting
        run: |
          zip -r9 lambda.zip lambda_greeting.py
      - name: AWS Deploy
        run: |
          aws lambda update-function-code --function-name lambda_greeting.py --zip-file fileb://lambda.zip
